/* Creates all the style and updates on screen */
a:link, a:visited {
	background-color: #ccf2ff;
	color: black;
	padding: 25px 25px;
	text-align: center;
	text-decoration: none;
	width: 310px;
	height: 310px;
	border: 1px solid black;
	display: inline-block;
	position: relative;
	margin: 0px 0px 10px 10px;
	cursor: pointer;
}

/* Updates fill color of box elements */
a:hover, a:active {
	background-color: white;
}